<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>WEB STYLE GUIDE</title>
    <script type="text/javascript" src="/src/js/lib/jquery/jquery.js"></script><!-- jQuery -->
    <script type="text/javascript" src="/src/js/framework/core/core.js"></script>
    <script type="text/javascript" src="/src/js/common/common.ui.js"></script>
    <link type="text/css" rel="stylesheet" href="/src/css/common/basic.css">
    <link type="text/css" rel="stylesheet" href="/src/css/common/common.css">
    <link type="text/css" rel="stylesheet" href="/src/css/common/layout.css">
    <!--[if lt IE 9]><script type="text/javascript" src="/src/js/lib/html5/html5.js"></script><![endif]-->
    <style type="text/css" rel="stylesheet">
        .panel-wrap{}
        .panel-wrap h1 {font-size:24px; letter-spacing: -1.2px; color: #08385d; line-height: 20px; border-bottom:1px solid #D4D4D4; padding-bottom:1px; background:none; }
        .panel-wrap h1 span {position: relative; display:inline-block; padding:0 10px 10px; }
        .panel-wrap h1 span:after { position:absolute; width:100%; left:0; bottom:-2px; border-bottom: 1px solid #08385d; content:''; }
    </style>
</head>
<body>
<!--main-content-->
<div class="tmpl">
    <h1 class="mgb_30"><span>Board-list</span></h1>
    <div class="bbs-wrap">
        <table class="bbsList">
            <colgroup><col width="10%;"><col width="10%;"><col width="60%;"><col width="10%;"><col width="10%;"></colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>분류</th>
                <th>제목</th>
                <th>등록일</th>
                <th class="last">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="on">
                <td><a href="#">10</a></td>
                <td><a href="#">분류1</a></td>
                <td class="tit"><a href="/pages/admin/board_view.html">상세페이지로 이동합니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr class="on">
                <td><a href="#">9</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr>
                <td><a href="#">8</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr>
                <td><a href="#">7</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr>
                <td><a href="#">6</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr>
                <td><a href="#">5</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr>
                <td><a href="#">4</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr>
                <td><a href="#">1</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr>
                <td><a href="#">1</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            <tr class="last">
                <td><a href="#">1</a></td>
                <td><a href="#">분류1</a></td>
                <td class='tit'><a href="#">제목내용이 들어갑니다.</a></td>
                <td><span>2016.06.01</span></td>
                <td><span>151</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="paging mgt_30">
        <a href="#" class="btnMove first"></a>
        <a href="#" class="btnMove prev"></a>
        <a href="#" class="on">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#">10</a>
        <a href="#" class="btnMove next"></a>
        <a href="#" class="btnMove last"></a>
    </div>
</div>
<!--//main-content-->
</body>
</html>