<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>WEB STYLE GUIDE</title>
    <script type="text/javascript" src="/src/js/lib/jquery/jquery.js"></script><!-- jQuery -->
    <script type="text/javascript" src="/src/js/framework/core/core.js"></script>
    <script type="text/javascript" src="/src/js/common/common.ui.js"></script>
    <link type="text/css" rel="stylesheet" href="/src/css/common/basic.css">
    <link type="text/css" rel="stylesheet" href="/src/css/common/common.css">
    <link type="text/css" rel="stylesheet" href="/src/css/common/layout.css">
    <!--[if lt IE 9]><script type="text/javascript" src="/src/js/lib/html5/html5.js"></script><![endif]-->
    <style type="text/css" rel="stylesheet">
        h1 {font-size:24px; letter-spacing: -1.2px; color: #08385d; line-height: 20px; border-bottom:1px solid #D4D4D4; padding-left:0;padding-bottom:1px; background:none; }
        h1 span {position: relative; display:inline-block; padding:0 10px 10px; }
        h1 span:after { position:absolute; width:100%; left:0; bottom:-2px; border-bottom: 1px solid #08385d; content:''; }
    </style>
</head>
<body>
<!--main-content-->
<div class="tmpl">
    <h1 class="mgb_30"><span>Board-view</span></h1>
    <div class="bbsView">
        <div class="view-head">
            <h1 class="tit">돌아와요 V3 이벤트 1차 당첨자 공지 </h1>
            <ul class="viewInfo">
                <li><span>분류</span>당첨자 공지</li>
                <li class="date"><span>날짜</span>2016-06-17</li>
                <li class="count"><span>조회수</span>31</li>
            </ul>
        </div>
        <div class="view-cont">
            컨텐츠내용.
        </div>
        <div class="view-move">
            <p class="prev"><span>이전 글</span>
                <a href="#" class="bld2 preList">626호 안랩 퀴즈&amp;설문 당첨자<input type="hidden" id="preListSeq" value="50124046"></a>
            </p>
            <p class="next"><span>다음 글</span>
                다음 글이 없습니다.
            </p>
        </div>
    </div>
    <div class="mgt_30 center">
        <a href="/pages/admin/board_list.html"  class="cmn darkBlue trans">목록보기</a>
    </div>
</div>
<!--//main-content-->
</body>
</html>