<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>HTML/CSS/JS/Guide</title>
    <script type="text/javascript" src="/src/js/lib/jquery/jquery.js"></script><!-- jQuery -->
    <script type="text/javascript" src="/src/js/framework/core/core.js"></script>
    <script type="text/javascript" src="/src/js/common/common.ui.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="/src/js/lib/html5/html5.js"></script><![endif]-->
    <link type="text/css" rel="stylesheet" href="/src/css/common/basic.css">
    <link type="text/css" rel="stylesheet" href="/src/css/common/common.css">
    <link type="text/css" rel="stylesheet" href="/src/css/common/layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div id="contents" class="tmpl">
    <div class="cnt">
        <h2><span>Element Guide / Style Sheet Guide</span></h2></br>
        <div class="wrapper">
            <table class="ui-board-view">
                <colgroup><col width="20%;"><col width="80%;"></colgroup>
                <tbody>
                <tr>
                    <th><span>텍스트명</span></th>
                    <td class="left"><input class="w50" type="input"></td>
                </tr>
                <tr>
                    <th><span>SELECT-OPTION</span></th>
                    <td>
                        <select class="w50">
                            <option>선택하세요</option>
                            <option>OPTION 값1</option>
                            <option>OPTION 값2</option>
                            <option>OPTION 값3</option>
                        </select>
                    </td>
                </tr>
                <tr class="on">
                    <th><span>필수입력 (+)</span></th>
                    <td>
                        <input class="floatLeft w50" type="input"><label class="floatLeft mgl_10">값</label>
                    </td>
                </tr>
                <tr>
                    <th><span>성별</span></th>
                    <td>
                        <ul>
                            <li class="floatLeft w20 pdb_5"><input type="checkbox"><label class="pdl_5">남자</label></li>
                            <li class="floatLeft w20 pdb_5"><input type="checkbox"><label class="pdl_5">여자</label></li>
                        </ul>
                    </td>
                </tr>
                <tr class="on">
                    <th><span>지역 (+)</span></th>
                    <td>
                        <ul>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">서울</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">부산</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">인천</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">대구</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">광주</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">대전</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">울산</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">경기</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">강원</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">충북</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">충남</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">전북</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">전남</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">경북</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">경남</label></li>
                            <li class="floatLeft pdb_5 w10"><input type="checkbox" class="right"><label class="pdl_5">제주</label></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th><span>INPUT-RADIO</span></th>
                    <td>
                        <ul>
                            <li class="floatLeft pdb_5 w20"><input type="radio" name="rdo_type" class="right"><label class="pdl_5">라디오버튼1</label></li>
                            <li class="floatLeft pdb_5 w20"><input type="radio" name="rdo_type" class="right"><label class="pdl_5">라디오버튼2</label></li>
                            <li class="floatLeft pdb_5 w20"><input type="radio" name="rdo_type" class="right"><label class="pdl_5">라디오버튼3</label></li>
                            <li class="floatLeft pdb_5 w20"><input type="radio" name="rdo_type" class="right"><label class="pdl_5">라디오버튼4</label></li>
                            <li class="floatLeft pdb_5 w20"><input type="radio" name="rdo_type" class="right"><label class="pdl_5">라디오버튼5</label></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th><span>모든사용자참여</span></th>
                    <td><input type="checkbox" class="inline-block mgr_10"><span>이메일 발송여부와 상관없이 전 패널 참여 가능</span></td>
                </tr>
                <tr>
                    <th><span>인트로 페이지 편집</span></th>
                    <td><input type="file" class="w80"></td>
                </tr>
                <tr>
                    <th><span>응답종료 메시지</span></th>
                    <td><textarea></textarea></td>
                </tr>
                <tr>
                    <th><span>기타</span></th>
                    <td><textarea></textarea></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- unit end -->
</div>
</body>
</html>