@charset "utf-8";
/*======== Component ========*/
body{position:relative;width:100%;min-height:100%;background:#e8e8e8;}
.page-container{position:relative;width:100%;padding-left:240px;box-sizing: border-box;}
.page-container .util{position:relative;height:50px;background:#33414e;}
/*=== header ===============================================*/
header{padding:10px 0;color:#fff;background:#333;}
header a.logo{float:left;padding-left:50px; }
header a.logo > * {display:inline-block;vertical-align:middle;}
header a.logo img{ margin-right:20px;}
header a.logo span{ font-size:24px; font-weight:100;}
/*nav*/
header nav{float:right;padding-right:50px;}
header nav > * {display:inline-block;}
header nav ul.menu > li{display:inline-block;}
header nav ul.menu > li a{display:block;padding:10px;}
header nav ul.menu > li a:hover{color:#ff0000;}
/*aside*/
header aside{position:relative;margin-left:20px;}
header aside:before{position:absolute;top:10px;left:-10px;width:1px;height:20px;background:#999;content:'';}
header aside a {display:inline-block;padding:10px;}
/*=== footer ===============================================*/
footer{clear:both;padding:20px 0 0;background:#263238;}
footer nav a{display:inline-block;padding:10px;color:#fff;}
footer nav i img{max-width:30px;height:auto;vertical-align:top;}
footer .copyright{padding:10px 0;background:#37424b;}
/*======== Contact ========*/
.contact-wrap{ position:absolute;left:0;top:-250px;width:100%;height:200px;background:#363839;z-index:100;}
.contact-wrap.on{top:-50px;}
.contact-wrap nav{position:absolute;left:0;bottom:-50px;}
.contact-wrap nav a{position:relative;display:block; border-top:50px solid #363839;border-right: 50px solid transparent;}
.contact-wrap nav a:after{content:'+';position:absolute;left:10px;top:-50px;color:#FFF;font-size:20px;}
.contact-wrap .content{position:relative;}
.contact-wrap .content dl dt{color:#ddd;font-size:16px;}
.contact-wrap .content dl dd{color:#8c8989;font-size:14px;}
/*=== Template ===============================================*/
article.page{ width:100%; padding:30px; box-sizing:border-box;}
article.page > *{padding:50px;}
article.page.full-width{width:100%; padding:0 30px;box-sizing:border-box;}
/*======== common ========*/
img.full{width:100%;height:auto;vertical-align:top;}
.search{position:relative;padding:20px 0 0; text-align:right;}
.search label{display:none;}
.search input[type="text"]{padding:5px 15px;}
.search input[type="submit"]{padding:5px 15px;color:#FFF;background-color:#5c99d2;border-color:#07c;box-shadow:inset 0 1px 0 #66bfff;border:1px solid transparent;cursor:pointer;}
.search input[type="submit"]:hover{background-color:#0062a9;}
nav.page{width:100%;margin:20px 0 0;padding:20px 0;text-align:center;background:#eee;}
nav.page .wp-pagenavi span.pages{padding:5px 10px;margin-right:10px; color:#111;}
nav.page .wp-pagenavi span.pages ~ *{display:inline-block;border:1px solid #ccc;border-radius: 3px;padding:2px 7px;margin:0 5px;font-size:14px;font-weight:normal;color:#111;}
nav.page .wp-pagenavi span.current{}
/*======== page ========*/

/*======== archive ========*/
article.archive{/* background:#fafafa; */}
article.archive section {width:100%;margin:0 auto;padding:40px 50px;border-bottom:1px dashed #ccc;box-sizing:border-box;}
article.archive section:last-of-type {border-bottom:none;}
article.archive section .content{overflow:hidden;width:100%;padding:5px 10px 20px;box-sizing:border-box;}
article.archive section .content h1{position:relative;margin:0;padding:10px 0 20px;font-size:20px;}
article.archive section .content h1:after{content:'';position:absolute;left:0;top:47px;width:100%;height:0;border-bottom:1px dashed #111;}
article.archive section .content > p{font-size:14px;}
article.archive section .content img{max-width:800px;}
/*======== Media Query style ========*/
@media only screen and (max-width: 980px) {
	header{display:none;}
	.page-container{padding:0;}
	.content{width:auto;}
	article.archive section .content img{width:100%;}
}
