@charset "utf-8";
/*==================================================
 FONT STYLES
 ==================================================*/
@font-face {
	font-family: 'NanumGothic';
	font-weight: normal;
	font-style: normal;
	src: url('/src/asset/font/NanumGothic.eot');
	src: url('/src/asset/font/NanumGothic.woff') format('woff'), url('/src/asset/font/NanumGothic.ttf') format('truetype');
}
@font-face {
	font-family: "NanumBarunGothic";
	src: url('/src/asset/font/NanumBarunGothic.ttf') format('truetype');
	src: url('/src/asset/font/NanumBarunGothic.eot') format('eot');
	src: url('/src/asset/font/NanumBarunGothic.woff') format('woff');
}
@font-face {
	font-family: "NanumBarunGothicBold";
	src: url('/src/asset/font/NanumBarunGothicBold.ttf') format('truetype');
	src: url('/src/asset/font/NanumBarunGothicBold.eot') format('eot');
	src: url('/src/asset/font/NanumBarunGothicBold.woff') format('woff');
}
/*------------------------------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'NunitoRegular';
	font-weight: normal;
	font-style: normal;
	src: url('/src/asset/font/Nunito-Regular-webfont.woff') format('woff'), url('/src/asset/font/Nunito-Regular-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'NunitoLight';
	font-weight: normal;
	font-style: normal;
	src: url('/src/asset/font/Nunito-Light-webfont.woff') format('woff'), url('/src/asset/font/Nunito-Light-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'NunitoBold';
	font-weight: normal;
	font-style: normal;
	src: url('/src/asset/font/Nunito-Bold-webfont.woff') format('woff'), url('/src/asset/font/Nunito-Bold-webfont.ttf') format('truetype');
}
